In [4]:
import pandas as pd
d={"fruit":["mango","apple","banana","papaya"],
   "price":[100,120,60,70],
   "quantity":[10,15,20,13]}
df1=pd.DataFrame(d)
print(df1)

    fruit  price  quantity
0   mango    100        10
1   apple    120        15
2  banana     60        20
3  papaya     70        13

In [5]:
df2=df1.copy()
print(df2)

    fruit  price  quantity
0   mango    100        10
1   apple    120        15
2  banana     60        20
3  papaya     70        13

In [6]:
df2.loc[0,"price"]=130
df2.loc[1,"price"]=140
df2.loc[2,"price"]=53
df2.loc[0,"quantity"]=13
df2.loc[1,"quantity"]=14
df2.loc[2,"quantity"]=12
print(df2)

    fruit  price  quantity
0   mango    130        13
1   apple    140        14
2  banana     53        12
3  papaya     70        13

In [10]:

print(df1.compare(df2,align_axis=1))

   price        quantity
    self  other     self other
0  100.0  130.0     10.0  13.0
1  120.0  140.0     15.0  14.0
2   60.0   53.0     20.0  12.0