In [3]:
import pandas as pd
dat1 ={"id":[1,2,3,4],
       "Name":["jhon","peter",None,"lisa"],
       "Age":[25,24,None,26],
       }
dat2={"id":[1,2,7,4],
      "salary":[2000,1000,None,5000]}

df1=pd.DataFrame(dat1)
df2=pd.DataFrame(dat2)
print(df1)
print(df2)
print(df2["salary"].sum())

   id   Name   Age
0   1   jhon  25.0
1   2  peter  24.0
2   3   None   NaN
3   4   lisa  26.0
   id  salary
0   1  2000.0
1   2  1000.0
2   7     NaN
3   4  5000.0
8000.0

In [7]:
print(pd.merge(df1,df2,on="id"))

   id   Name   Age  salary
0   1   jhon  25.0  2000.0
1   2  peter  24.0  1000.0
2   4   lisa  26.0  5000.0

In [10]:
print(pd.merge(left=df1,right=df2,on="id",how="right"))
print("\n",pd.merge(left=df1,right=df2,on="id",how="left"))

   id   Name   Age  salary
0   1   jhon  25.0  2000.0
1   2  peter  24.0  1000.0
2   7    NaN   NaN     NaN
3   4   lisa  26.0  5000.0

    id   Name   Age  salary
0   1   jhon  25.0  2000.0
1   2  peter  24.0  1000.0
2   3   None   NaN     NaN
3   4   lisa  26.0  5000.0

In [11]:
dat3 ={"id":[1,2,3,4],
       "Name":["jhon","peter",None,"lisa"],
       "Age":[25,24,None,26],
       }
dat4 ={"id":[5,6,7,8],
       "Name":["chotu","pitu",None,"luna"],
       "Age":[22,27,None,21],
       }
df3=pd.DataFrame(dat3)
df4=pd.DataFrame(dat4)
print(df3)
print(df4)

   id   Name   Age
0   1   jhon  25.0
1   2  peter  24.0
2   3   None   NaN
3   4   lisa  26.0
   id   Name   Age
0   5  chotu  22.0
1   6   pitu  27.0
2   7   None   NaN
3   8   luna  21.0

In [12]:
print(pd.concat(([df3,df4])))

   id   Name   Age
0   1   jhon  25.0
1   2  peter  24.0
2   3   None   NaN
3   4   lisa  26.0
0   5  chotu  22.0
1   6   pitu  27.0
2   7   None   NaN
3   8   luna  21.0